
door1/app/build.gradle
door1/app/proguard-rules.pro
door1/app/src/androidTest/java/com/example/door1/ExampleInstrumentedTest.java
door1/app/src/main/AndroidManifest.xml
door1/app/src/main/java/com/example/door1/LockActivity.java
door1/app/src/main/java/com/example/door1/MainActivity.java
door1/app/src/main/res/drawable/doorclose.png
door1/app/src/main/res/drawable/dooropen.png
door1/app/src/main/res/drawable/flowerbg.png
door1/app/src/main/res/drawable/ic_launcher_background.xml
door1/app/src/main/res/drawable/ic_launcher_foreground.xml
door1/app/src/main/res/drawable/lock.png
door1/app/src/main/res/drawable/tech.png
door1/app/src/main/res/drawable/unlock.png
door1/app/src/main/res/drawable/wall.png
door1/app/src/main/res/layout/activity_main.xml
door1/app/src/main/res/layout/lock.xml
door1/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
door1/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
door1/app/src/main/res/mipmap-hdpi/ic_launcher.webp
door1/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
door1/app/src/main/res/mipmap-mdpi/ic_launcher.webp
door1/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
door1/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
door1/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
door1/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
door1/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
door1/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
door1/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
door1/app/src/main/res/values-night/themes.xml
door1/app/src/main/res/values/colors.xml
door1/app/src/main/res/values/strings.xml
door1/app/src/main/res/values/themes.xml
door1/app/src/main/res/xml/backup_rules.xml
door1/app/src/main/res/xml/data_extraction_rules.xml
door1/app/src/test/java/com/example/door1/ExampleUnitTest.java
door1/build.gradle
door1/gradle.properties
door1/gradle/libs.versions.toml
door1/gradle/wrapper/gradle-wrapper.jar
door1/gradle/wrapper/gradle-wrapper.properties
door1/gradlew
door1/gradlew.bat
door1/settings.gradle
qrcodegenerate.zip
qrcodegenerate.zip
qrcodegenerate.zip
door1/.gradle/8.7/checksums/checksums.lock
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibs$EspressoLibraryAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibs$ExtLibraryAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibs.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$EspressoLibraryAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$ExtLibraryAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/metadata.bin
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/sources/org/gradle/accessors/dm/LibrariesForLibs.java
door1/.gradle/8.7/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
door1/.gradle/8.7/dependencies-accessors/gc.properties
door1/.gradle/8.7/executionHistory/executionHistory.bin
door1/.gradle/8.7/executionHistory/executionHistory.lock
door1/.gradle/8.7/fileChanges/last-build.bin
door1/.gradle/8.7/fileHashes/fileHashes.bin
door1/.gradle/8.7/fileHashes/fileHashes.lock
door1/.gradle/8.7/fileHashes/resourceHashesCache.bin
door1/.gradle/8.7/gc.properties
door1/.gradle/buildOutputCleanup/buildOutputCleanup.lock
door1/.gradle/buildOutputCleanup/cache.properties
door1/.gradle/buildOutputCleanup/outputFiles.bin
door1/.gradle/config.properties
door1/.gradle/file-system.probe
door1/.gradle/vcs-1/gc.properties
door1/local.properties
